.verificationcodeLogin {
    display: inline-block;
    width: 800px;
    height: 200px;
}

.verificationcodeLogin input {
    margin-top: 10px;
    width: 600px;
    height: 30px;
    text-align: center;
}

.verificationcodeLogin button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
}